#aboutText{
    width: 50%;
     padding: 0;
}
#teamImage{
    width: 50%;
    object-fit: cover;
    border-radius: 20px;

}
#about {
    
    display: flex;
    flex-direction: row;
    max-width: 800px;
    margin: 0 auto;
}
#description {
    width: 50%;
    padding: 0;
}
#teamImg{
    max-width: 50%;
    max-height:fit-content;
    border-radius: 20px;
}
#About{
    align-items: center;
}
body{
    font-family: 'Roboto' ,sans-serif;
    background-color: whitesmoke;
    margin: 0px;
    padding: 0px;
    
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Inter',sans-serif;
    
}
h2{
    padding: 20px;
    text-align: center;
}
#roles{
   padding-left: 15%;
   padding-right: 15%;
}
a{
    color: #1E40AF;
}
a:hover{
    color: #172554;
  
}
#bottom{
    list-style-type: none; /* Remove bullets */
      padding: 20px;
      margin: 0;
      text-align: center;
      font-size: 1rem;
}
.list{
    display: inline; /* Make the list items inline */
      margin-left: 8%; /* Add spacing between items */
     
}
#copyright{
    text-align: center;
}
#footer{
    background-color: gainsboro;
    padding-bottom: 0px;
    margin-bottom: 0px;
    font-size: 0.75rem;;


}
#logo{
    background-color: ghostwhite;
    padding: 0px;
    border: 0px;
    margin: 0px;
}
#logoImg{
    height: 20px;
}
#banner12{
    object-fit: cover;
}
#Job-table{
    border: "1px" solid grey;
    border-collapse: collapse;
    
    text-align: center;
    width: 100%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 64px;
    
}
.table-heading th{
    border: 1px solid gray;
    padding: 8px;
    background-color:#BFDBFE;
}
.table-data td{
    border: 1px solid gray;
    padding: 8px;
}
.table-data:nth-child(even) {
    background-color:  #DBEAFE;  /* Light gray */
  }
